{% trans_default_domain 'FOSUserBundle' %}
	
<div id="mainsfrormadd" class="bgwhite">
	<div id="add_legend">{{ 'resetting.Access reset'|trans }}</div>
	<hr id="add_hr"/>
		<form action="{{ path('fos_user_resetting_send_email') }}" method="post" name="">
			<div class="aformwrap upformwrap" id="remindform">
					<div class="aphone" style="margin-bottom:10px;">
						<label for="login" class="slabel">{{ 'resetting.Phone number'|trans }}</label><br/>
						<label for="login"><img alt="{{ 'resetting.Phone'|trans }}" title="{{ 'resetting.Phone'|trans }}" src="{{ asset('images/phone32.png') }}" /></label> 
						
						<input type="text" id="username" name="username" required="required" style="width:70%;">
					</div>
					{% if (google_recaptcha_on != 'false') %}
					<div class="captwr tc">
						<div class="g-recaptcha" data-sitekey="{{ recapcthasitekey }}"></div>
						<br/>
					</div>
					{% endif %}
					<div class="capinputs capiwr">
						<div class="capinputs">
							<div class="upformbtn tright">
								<input type="submit" name="sup" id="sup" value="{{ 'resetting.Send'|trans }}">
							</div>
						</div>
					</div>
				<div class="both"></div>
			</div>
		</form>
		<div id="mainsfrormsuccess" style="display:block">
			{{ 'resetting.RecoveryMsg'|trans({'%admin_phone%': admin_phone})|raw }}
		</div>
</div> 

