{% extends "base.html.twig" %}
{% block content %}

<div id="mainsfrormadd">
	<div id="add_legend">Добавить свое объявление</div>
	<hr id="add_hr"/>
		{{  form_start(form, {'action': path('podat_obyavlenie'), 'attr': {'enctype': 'multipart/form-data', 'v-on:submit' : 'onSubmitAdvertForm'} }) }}
		<div>
			{% include 'widgets/locationform.html.twig' %}
			{{ form_widget(form.region, aRegionId) }}
			{{ form_widget(form.city, aCityId) }}
			<div>
				{{ form_errors(form.region) }}{{ form_errors(form.city) }}
			</div>
		</div>
			<div class="prmf">
				<div class="checkblock">
					 {{ form_row(form.people) }}
				</div>
				<div class="checkblock">
					 {{ form_row(form.box) }}
				</div>
				<div class="checkblock">
					 {{ form_row(form.term) }}
				</div>
				<div class="checkblock">
					 {{ form_row(form.far) }}
				</div>
				<div class="checkblock">
					 {{ form_row(form.near) }}
				</div>
				<div class="checkblock">
					 {{ form_row(form.piknik) }}
				</div>
			</div>
			<p class="adtitle">
				{{ form_label(form.title) }} <span class="red">*</span> {{ form_widget(form.title) }}
				{{ form_errors(form.title) }}
			</p>
			<p class="add_text">
				{{ form_label(form.addtext) }}<span class="red">*</span>
				{{ form_widget(form.addtext) }}
				<span class="right praf" id="afctrl">955 / 1000</span>
				{{ form_errors(form.addtext) }}
			</p>
			<p class="price">
				{{ form_row(form.price) }}
			</p>
			<p class="image ">
				<img ref="filepreview" src="{{ asset(image) }}" class="ii" id="imgview"/> <label for="image">Загрузите изображение</label><br/>
				<table>
					<tr>
						<td class="fileuploaderinputwrapper">
							{{ form_widget(form.imagefile) }}
							<inputfile
									v-model="imageurl"
									url="/fileupload.json"
									tokenImagePath="/images/l-w.gif"
									ken="{{ csrf_token }}"
									v-bind:label="$t('app.SelectLogo')"
									v-on:startupload="onStartUploadFilePreview"
									v-on:uploadcomplete="onSuccessUploadFilePreview"
									v-on:uploadapperror="onFailUploadFilePreview"
									v-on:uploadneterror="onFailUploadFilePreview"
									id="autophoto" ></inputfile>
							{{ form_errors(form.imagefile) }}



						</td>
						<td>
							<img v-if="isUploadImageProcess" src="/images/l-w.gif" id="upLdr" class="hide" v-bind:class="{vis:vueFileInputIsEnabled}" />
						</td>
					</tr>
				</table>
				<input type="hidden" id="ipath" name="ipath" value="<?=@$addForm->image ?>"/>
			</p>
			<div class="both"></div>
			<div class="authorname py-4">
				{# <?=FV::labinp("person", "Введите ваше имя или название компании *", @$addForm->name, 0, 0, $authorized);?> #}
				{{ form_row(form.company_name) }}
			</div>
			
			<div class="adphone py-5">
				{#<?=FV::labinp("phone", "Введите номер сотового телефона *", @$addForm->phone, 0, 0, $authorized);?> #}
				{# form_row(form.phone) #}
				{{ form_label(form.phone) }}
				{{ form_widget(form.phone) }}
				{%- if form.phone.vars.errors|length > 0 -%}
				<ul>
					{%- for error in form.phone.vars.errors -%}
						<li>{{ error.message|raw }}</li>
					{%- endfor -%}
				</ul>
				{%- endif -%}
			</div>
			<p class="fcomment green">
				Например, 8 917 000 11 22 или +7 917 000 11 22, + перед семеркой обязателен! (пробелы и скобки по желанию)
			</p>
			
			{% if (app.user is null) %}
			<div id="grb">
				<p class="register">Если хотите обновлять и редактировать объявление, введите пароль
				<br/>Адрес электронной почты понадобится вам, если вы его забудете.</p>
				<p class="pwdmail">
					{{ form_row(form.password, {'attr' : { 'v-model' : 'password' } }) }}
				</p>
				<div class="pwdmail">
					{{ form_row(form.email, {'attr' : { 'v-model' : 'email' } }) }}
				</div>
			</div>
			{% endif %}
			
			
			<div class="both"></div>
			
			<div class="agreearea">
				{{ form_widget(form.agreement) }}
				<label for="advert_form_agreement">Я прочитал и согласен с <a href="{{ politicDoc }}" target="_blank">Политикой конфидециальности</a> и <a href="{{ path('agreement') }}" target="_blank">Условиями использования</a></label>
				{{ form_errors(form.agreement) }}
			</div>
			
			{#<?php if( !($addForm->captchaForAllIsOff || $addForm->captchaForAuthIsOff) ): ?>#}
			{% if (google_recaptcha_on != 'false') %}
				<div class="ml--18px-w320"><!-- TODO тут сделать установку mr -20px если экран мобильный -->
					<div class="capthtabl">
							<div class="left">
								<div class="captwr tc">
									<div class="g-recaptcha" data-sitekey="{{ recapcthasitekey }}"></div>
									<br/>
								</div>
							</div>
							<div class="both">&nbsp;</div>
					</table>
				</div>
			{% endif %}
			
			<div class="right prmf">
				<input type="submit" value="Подать объявление" id="addsubmit" />
				<input type="hidden" name="token" value="{{ csrf_token }}"/>
			</div>
			<div class="both"></div>
		<!--/form-->
		{{ form_end(form) }}
</div>
{% endblock content %}


{% block js %}
	<script type="text/javascript" src="/js/L.js?{{assetsVersion}}" async></script>
	<script type="text/javascript">
		var token = '{{ csrf_token }}';
		var uid   = '{{ uid }}';
		var cityId = '{{ nCityId }}';
		var isCity = '{{ nIsCity }}';
		var regionId = '{{ nRegionId }}';
		window.SITE_NAME   = '{{ siteName }}';
	</script>
{% endblock %}
{% block vuepageerror %}
	<div id="mainsfrormerror" v-bind:class="{vis:pageErrorBlockVisible}" v-if="pageErrorBlockVisible">[[ pageErrorText ]]</div>
{% endblock %}

