<div class="buttons">
			{% if (doNotShowAdvButton is not defined) %} 
			<div class="left usermenu-mt">
				<a href="{{ path('podat_obyavlenie') }}" class="hidelink">
					<div class="add button">
						{{ 'Add advertising'|trans }}
					</div>
				</a>
			</div>
			{% endif %}
			
			{% if (doNotShowCabBtn is not defined) %}
			<div class="left usermenu-mt">
				<a href="{% if uid > 0 %} {{ path('cabinet') }} {% else %} {{ path('fos_user_security_login') }} {% endif %}" @click="onShowAuthFormClick" class="hidelink">
					<div class="auth button">
						<img src="{{ asset('images/encrypted.png') }}" class="w16"/>
						<span style="vertical-align:top; display:block-inline" class="">{{ 'My adverts'|trans }}</span>
						<span></span>
					</div>
				</a>
			</div>
			{% endif %}
			
			
			
			<div id="logoutlinkwrap" class="left usermenu-mt {% if (uid == 0) %} hide {% endif %}">
				<a href="{{ path('fos_user_security_logout') }}" id="logoutlink" class="hidelink" title="{{ 'Exit' |trans }}">
					<div class="out button">
						<img src="{{ asset('images/out.png') }}" class="w20"/>
					</div>
				</a>
			</div>
			
				
				<div id="profilelinkwrap" class="left usermenu-mt {% if (uid == 0 and doNotShowProfileBtn is not defined) %} hide {% endif %}" >
					<a href="{{ path('fos_user_profile_edit') }}" class="hidelink" title="{{ 'Your data'|trans }}" >
						<div class="out button">
							<img src="{{ asset('images/set.png') }}" class="w20"/>
						</div>
					</a>
				</div>
				
					
			
			<div class="both"></div>
		
	</div>
	{% if (csrf_token is defined) %}
		<loginform ref="loginform" action="{{ path('fos_user_security_check') }}" csrf="{{ csrf_token }}" src="{{ asset('images/phone32.png') }}"></loginform>
	{% endif %}
				
