<li>
	<img src="{{ item.image }}" class="ii" title="{{ item.addtext }}" />
	<div class="shortitemtext left">
		<header><a href='{{ item.id|advlink(item.cityObject.codename, item.regionObject.codename, item.codename, item.city) }}' title="{{ item.addtext }}"> {{ item.title }}</a></header>
		<div class="text">
			
			<div class="vprice b"><span class="name">Цена:</span> {{ item.price|rouble }}</div>
			
			<div class="name">{{ item.regionObject.regionName|location_name(item.cityObject.cityName, item.city) }}</div>
			<div class="name">{{ item.name }}</div>
			<div class="name">{{ item|type_transfer }}</div>
			<div class="phone">
				Телефон: <a href="#" class="dashed gn" @click="onClickGetPhone($event, '{{ item.id }}')">Показать</a>
			</div>
		</div>
	</div>
	<div class="both"></div>
	<phoneview id="{{ item.id }}" ref="pv{{ item.id }}"></phoneview>
</li>